body{
  text-align: center;
  padding: 100px;
  background-image: url('https://source.unsplash.com/1600x900/?nature');;
}
form{
  
  background-color: #00000060;
  padding: 50px;
  font-size: 30px;
  color: antiquewhite;
}
h1{
  font-size: 40px;
  color: aliceblue;
}
input{
  font-size: 25px;
  color: white;
}
button{
  font-size: 25px;
  background-color: aquamarine;

}
input:hover{
  background-color: black;
  border-color: chartreuse;
}
